body {
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.login { 
    width:280px;
    height: 210px;
    border:1px #CCC solid;
    padding:20px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#login-title {
    font-size: 30px;
}

#remember-label {
    margin-top: 12px;
}